# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
.virtualenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/
.vscode/*

# Environments
.env
.env.*
*.env

# Logs
*.log

*pdf

# SQLite database files
*.sqlite3
*.db
.pytest_cache